
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .delete-button {
        color: white;
        background-color: #d50000;
        border: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 8px; /* Afastamento do botão dos itens */
    }

    .delete-button:hover {
        background-color: #ff1744;
    }

    .edit-button {
        color: white;
        background-color: #039be5;
        border: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 8px; /* Afastamento do botão dos itens */
    }

    .edit-button:hover {
        background-color: #03a9f4;
    }

    .font-amazon {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        color: #00529B;
    }

    .font-amazon-bold {
        font-family: Arial, sans-serif;
        font-size: 50px; /* Alterado para 50px */
        font-weight: bold;
        color: #00529B;
    }

    .container-center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
</style>

<div class="container-center">
    <div class="container">
        <div class="text-center mb-4">
            <h2 class="font-amazon-bold">Criar Lista de Viagem</h2>
        </div>
        
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label class="label font-amazon" for="{{ form.tema.id_for_label }}">Tema:</label>
                {{ form.tema }}
            </div>
            
            <div id="item-list" class="my-4">
                <div class="form-group">
                    <input type="text" id="item-input" class="form-control">
                    <button type="button" onclick="addItem()" class="btn btn-primary mt-2">Adicionar Item</button>
                </div>
                
                {% for item in form.items %}
                    <div class="form-group item-row">
                        <input type="checkbox">
                        <input type="text" value="{{ item.value }}" readonly class="form-control">
                        <button type="button" class="delete-button" onclick="deleteItem(this)">X</button>
                    </div>
                {% endfor %}
            </div>
            
            <button class="btn btn-primary" type="button" onclick="editItems()">Editar Itens</button>
            <button class="btn btn-secondary" type="submit">Resetar Itens</button>
        </form>
    </div>
</div>

<script>
    function addItem() {
        var itemInput = document.getElementById("item-input");
        var itemText = itemInput.value.trim();
        
        if (itemText !== "") {
            var itemList = document.getElementById("item-list");
            var newItemDiv = document.createElement("div");
            newItemDiv.classList.add("form-group", "item-row");
            
            var checkbox = document.createElement("input");
            checkbox.type = "checkbox";
            newItemDiv.appendChild(checkbox);
            
            var itemTextNode = document.createTextNode(itemText);
            newItemDiv.appendChild(itemTextNode);
            
            var deleteButton = document.createElement("button");
            deleteButton.type = "button";
            deleteButton.classList.add("delete-button");
            deleteButton.textContent = "X";
            deleteButton.onclick = function() {
                deleteItem(this);
            };
            newItemDiv.appendChild(deleteButton);
            
            itemList.appendChild(newItemDiv);
            
            itemInput.value = "";
        }
    }
    
    function deleteItem(button) {
        var itemDiv = button.parentNode;
        itemDiv.parentNode.removeChild(itemDiv);
    }
    
    function editItems() {
        var itemFields = document.querySelectorAll("#item-list input[type='text']");
        
        for (var i = 0; i < itemFields.length; i++) {
            itemFields[i].readOnly = false;
        }
    }
</script>
